.anterior {
    display: inline-block;
    width: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px 400px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.inicio{
    display: inline-block;
    width: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}
body{
    background-image: url("fondo.png");
    background-size: 100%;
}

.imagen{
    width: 50%;
    margin: 1% 25% 25%;
    border-color: black;
    border-style:groove;
    margin-bottom: auto;
}